body {
	font-family: 'Nunito', sans-serif !important;
	background-color: #EEE;
  }

h2 {
	text-transform: uppercase;
}

h5 {
	font-size: 1.1rem;
}

html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


li{
	margin-top:10px;
}

/* used for star img in index */
#star {
	float:right;
	padding-top: 3px;
	width: 5%;
}

/* Shown at the top of every page to support CineTrak */
#CT-Support{
	text-align: center;
	color: #d84747;
}

/* Control position of attention icon for Support me header */
#CT-Support-Attention{
	padding-bottom: 10px;
	width: 20px;
}

.jumbotron{
	background-color: #233237;
	padding:0px;
}

.jumbotron h1 {
	color: #FFF;
}

.jumbotron p {
	color: #CCC;
	font-style: italic;
}

.navbar-dark .navbar-nav .nav-link{
	color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover{
	color:#f87373;
}

.navbar{
	margin-bottom: 25px;
}

.redditTitle {
	color:#1b1b1b;
}

.youtubeTitle {
	color:#1b1b1b;
}

.fa-reddit{
	color:rgb(243, 53, 53);
}

.fa-youtube{
	color:rgb(243, 53, 53);
}

#totalgames{
	font-size: 1.4rem;
	/* border: 1px dotted rgb(133, 132, 132); */
	border-top: 1px  solid rgb(133, 132, 132);
	border-bottom: 1px  solid rgb(133, 132, 132);
	width: 100%;
	text-align: center;
	background: rgb(238, 238, 238);
}

#completedgames{
	font-size: 1.4rem;
	font-family: Nunito;
	border: 1px solid rgb(133, 132, 132);
	float: left;
	width: 50%;
	text-align: center;
}

.titlecategories{
	font-family: Nunito;
	font-size: 1.2rem;
	font-weight: bold;
}

.categories{
	font-family: Nunito;
	text-align: center;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.card-header{
	color:green;
	background: white;
}

.listcol1{
	color:#E57373;
	/*font-weight: bold;*/
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
}

.listcol2{
	color:#FFEA00;
	/*font-weight: bold;*/
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
}

.listcol3{
	color:#CE93D8;
	/*font-weight: bold;*/
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
}

.listcol4{
	color:#81C784;
	/*font-weight: bold;*/
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
}

.list-group-item-title {
  position: relative;
  letter-spacing: 1.5px;
  display: block;
  font-weight: 700;
  padding: 1px 7px;
  margin-bottom: -1px;
  background-color: #223236;
  /* border: 1px solid #ddd; */
  /* font-family: 'Rubik', sans-serif; */
}

.list-group-item {
	padding: 3px;
	font-size: 0.8rem;
	/* padding-top: 3px;
	padding-left: 3px; */
	/* font-family: 'Oxygen', sans-serif; */
}

/* selector to match all links in index */
div div a:nth-child(2n) {
	/* color:rgb(132, 190, 132); */
	background-color: #F5F5F5;
}

div div a:hover{
	/* color:rgb(248, 171, 171); */
	color:#f87373;
	/* font-weight:; */
	background-color: #242423;
}

.container {
	padding-top:20px;
}

.shadedlist {
	/* background-color: #F5F5F5; */
}

#reddit a:link, .navigation-div a:visited {
	color:#f87373;
}

#superscript a:link {
	color: #1b85b6;
}

#superscript a:visited {
	color:  #1b85b6;
}

#superscript{
	font-size: 0.5em;
	color: #81D4FA;
	vertical-align: super;
}

/* a tag modification */

a{
	color:rgb(5, 97, 139);

}
a:hover{
	/* color:rgb(248, 171, 171); */
	color:#f87373;
	/* font-weight:; */
	background-color: #242423;
}

.img-hover {
	color:green;
}

/* Styling specific links */
a.jumpToYoutube{
	color:#E24B15;
	font-weight: 500;
}

.mycontainer{
	padding: 0;
}

p+ul{
	/* list-style:none; */
	padding-left:5%;
}

.intro{
	background:#E2E2E2;
	padding: 20px 10px;
}

.gameScoreGreat{
	color: rgb(216, 213, 57);
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
	border-style: dashed;
	border-radius: 5px;
}

.gameScoreAverage{
	color: rgb(216, 142, 57);
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
	border-style: dashed;
	border-radius: 5px;
}


.row-movies {
	padding-top: 10px;
	justify-content: left;
}

.row-backlog {
	justify-content: center;
}

.card{
	/* background-color:rgb(20, 20, 20); */
	/* width: 20%; */
	margin: 10px;
	/* height: 100%; disabled due to white space issue with card*/
}

.card-movies{
	/* background-color:rgb(20, 20, 20); */
	/* width: 50%; */
	margin: 10px;
	/* height: fit-content; */
	border: 2px solid #353535;
}

.card:hover{
	/* border: 2px solid rgb(252, 255, 102); */
	box-shadow: 1px 1px 10px 1px rgba(53, 53, 53, 0.877);
}

.card-body{
	color:#212529
}

.card-title-online-coop{
	color:#E57373;
	text-align: center;
}

.card-title-local-coop{
	/* color:#e367f7; */
	color: #E57373;
	font-weight: 600;
}

/* level 300 colors: https://material.io/guidelines/style/color.html#color-color-palette */
.card-title-hiddengem{
	color:rgb(66, 187, 218);
}

.card-title-awesome-story{
	color:#F06292;
}

.categoryTitle{
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Nunito';
}
.jumpto{
	text-align: center;
	width: 100%;

}

.nav-item{
	list-style-type: none;
}

/* Backlog Page */
.subtitle{
	font-size: 0.6em;
}

.highlight {
	color:#d84747;
}

.similargames{
	/* color:rgb(112, 243, 112); */
	/* color:rgb(230, 54, 230); */
	color: #d84747;
}

.card-body-trash {
	background: red;
}

.trash-outdated{
	color: rgb(74, 148, 78);
}

.trash-noappeal{
	color:rgb(168, 81, 81);
}

.trash-buggy{
	color:rgb(139, 75, 139);
}

.trash-worthadollar{
	color: rgb(5, 97, 139);
}


.body-movies{
	background-color: #EEE;
	color:#232323;
	font-family: 'Nunito', sans-serif !important;
}

.h3-movies{
	color:#e05050;
	font-size: 1.5rem;
	font-weight: 600;
}

.p-movies{
	font-size: 1.1rem;
}

.strong-movies{
	color:#e05050;
	font-weight: 600;
}

.img-ctlogo{
	width:20px;
	margin: 0px 5px 5px 0px;
	padding: 0;
	float: none;
}

/* table */
tr .td-score-perfect{
    /* text-align: center;
    vertical-align: middle;	 */
	background-color: #FFF176;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	font-size: 1.4rem;
	color:#222;

}

tr{
	/* border:0.1px solid grey;	 */
}

thead{
	background-color: #222;
}

tr .td-score{
	/* display:flex; */
    /* justify-content: center; */
	/* align-items: center; */
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	/* font-size: 1.4rem; */
	color: #dddcdc;
	background-color: #222;
	/* height: 100%; */
}

.table-header{
	text-align: center;
	vertical-align: middle;
}

/* tr .game-title{
	text-align: center;
	vertical-align: middle;
	font-size: 1.1rem;
	font-weight: bold;
} */

tr .hours-needed{
	text-align: center;
	vertical-align: middle;
	font-weight: 600;
}

td p{
	text-align: center;
	vertical-align: middle;
	font-weight: 600;
	font-size: 1.1em;
	background-color: #222;
	color:#ecba3b;
	/* padding: 10px 10px; */
}

#DNF{
	text-align: center;
	vertical-align: middle;
	font-weight: 600;
	font-size: 1.1em;
	background-color: #222;
	color:#ecba3b;
	padding: 2px 5px;
	/* padding: 10px 10px; */
}



th {
	color:#f87373;
	text-align: center;
	vertical-align: middle;
}

td:first-child{
	text-align: center;
	vertical-align: middle;
	font-size: 1.1rem;
	font-weight: bold;
}

li a{
	color:#d84747;
}


td ul li{

}

/* reseting borders on all rows */
.table td, .table thead th{
	border: 0px;
}

.card-img-top{
	/* width: 10%; */
	/* border-radius: 5px; */
	/* border: 2px solid black; */
	/* padding: 0; */
	/* margin-left: 100px; */

}

.movie-title{
	font-weight: 600;
	padding: 0 10%;

}

.card-text-movie{
	text-align: center;
}

.col-sm-3{
	max-width: 15%;
}

tr .multiplayer{
	text-align: center;
	vertical-align: middle;
}

/* GRID STUFF */

.gridContainer{
	display: grid;
	margin: 0 auto;
	max-width: 1460px;
	grid-template-columns: repeat(2, minmax(200px,auto));
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 50px;
}

.gridContainer-calendar{
	display: grid;
	margin: 0 auto;
	max-width: 960px;
	grid-template-columns: repeat(1, minmax(200px,auto));
	/* grid-template-columns: 1fr; */
	grid-row-gap: 10px;
	grid-column-gap: 30px;
}

div a .gridImage{
	width: 130px;
	border: 3px solid #222;
	border-radius: 4px;
	box-sizing: border-box;
	float:none;
	padding: 0;
	/* margin: 2px; */
}

.gridImageGold{
	/* width: 130px; */
	/* border: 3px solid #cea802; */
	border-right: 3px solid #10b439;
	padding-left: 4px;
	box-sizing: border-box;
	float:none;
	/* padding: 0; */
	/* margin: 2px; */
}



.gridImageSilver{
	/* width: 130px; */
	/* border: 3px solid #0a8328; */
	border-right: 3px solid #10b439;
	padding-left: 4px;
	/* border-radius: 4px; */
	box-sizing: border-box;
	float:none;
	/* padding: 0; */
	/* margin: 2px; */
}


.tooltip-inner {
    background-color: #161616;
}

.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #f00;
}

/* td, ul, li{
	margin: 0 0 0 10px;
	padding-left: 0px;
} replaced by below */

.gamepointslist li{
	margin: 0 0 0 10px;
	padding-left: 0px;
}

.numOfPlayers{
	background-color: #222;
	color:#ecba3b;
	padding: 0 4px;
	/* margin: 5px; */

}

.gamerank-gold{
	color: #ecc563;
	background-color: #222;
	margin: 20px 0;
	padding: 40px 0;
	text-align: center;
}
.gamerank-silver{
	color: #4CAF50;
	background-color: #222;
	margin: 20px 0;
	padding: 40px 0;
	text-align: center;
}
.gamerank-bronze{
	color: #c9894a;
	background-color: #222;
	margin: 20px 0;
	padding: 40px 0;
	text-align: center;
}
.gamerank-bin{
	color: #c57eda;
	background-color: #222;
	margin: 20px 0;
	padding: 40px 0;
	text-align: center;
}



/*  */
tr .game-title-gold {
	color: #e6e4e4;
	background-color:#222;
	/* border: 10px #ecc563 solid;	 */
	box-shadow: 8px 0px 0px #ecc563 inset;
	box-sizing: border-box;
	letter-spacing: 1px;

}

.game-title-gold a {
	color: #e6e4e4;
}
/*  */

/*  */
tr .game-title-silver {
	color: #b3b2b1;
	background-color:#222;
	/* border-left: 10px #b3b2b1 solid; */
	box-shadow: 8px 0px 0px #4CAF50 inset;
	letter-spacing: 1px;

}

tr .game-title-silver a {
	color: #e4e6e4;
}
/*  */

/*  */
tr .game-title-bronze {
	color: #e6e4e4;
	background-color:#222;
	/* border-left: 10px #aa743d solid; */
	box-shadow: 8px 0px 0px #aa743d inset;
	letter-spacing: 1px;

}

tr .game-title-bronze a {
	color: #e6e4e4;
}
/*  */

/*  */
tr .game-title-bin {
	color: #e6e4e4;
	background-color:#222;
	/* border-left: 10px #c57eda solid; */
	box-shadow: 8px 0px 0px #c57eda inset;
	letter-spacing: 1px;

}

tr .game-title-bin a {
	color: #e6e4e4;
}
/*  */

.review-icon{
	width:25px;
	float:none;
	padding: 1px;
	margin:2px;
}

/* highlight negative points in game */
.negative{
	font-weight: 600;
}

#class_s_games{
	color:gold;
	/* font-weight: bold; */
	background-color: #222;
	/* padding: 2px; */
	text-align: center;

}

#class_s_games_title{
	color:gold;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #222;
	/* padding: 2px; */
	text-align: center;

}

#class_a_games{
	color:#17db48;
	/* font-weight: bold; */
	background-color: #222;
	padding: 2px;
	text-align: center;

}

#class_a_games_title{
	color:#17db48;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #222;
	padding: 2px;
	text-align: center;

}
#class_b_games_title{
	color:#c9894a;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: #555 underline wavy;
	-webkit-text-decoration: rgb(207, 205, 57) solid underline;
	text-decoration: rgb(207, 205, 57) solid underline;
	-webkit-text-underline-position: auto;
	text-underline-position: auto;
	background-color: #222;
	padding: 2px;
	text-align: center;

}


#class_b_games{
	color:#c9894a;
	/* font-weight: bold; */
	background-color: #222;
	padding: 2px;
	text-align: center;

}
#class_c_games_title{
	color:#17a2b8;
	font-weight: bold;
	font-size: 1.2em;
	/* text-decoration: #555 underline wavy;
	-webkit-text-decoration: rgb(207, 205, 57) solid underline;
	text-decoration: rgb(207, 205, 57) solid underline;
	-webkit-text-underline-position: auto;
	text-underline-position: auto; */
	background-color: #222;
	padding: 2px;
	text-align: center;

}




#class_c_games{
	color:#17a2b8;
	/* font-weight: bold; */
	background-color: #222;
	padding: 2px;
	text-align: center;

}

#class_d_games_title{
	color:#e45959;
	font-weight: bold;
	font-size: 1.2em;
	/* text-decoration: #555 underline wavy;
	-webkit-text-decoration: rgb(207, 205, 57) solid underline;
	text-decoration: rgb(207, 205, 57) solid underline;
	-webkit-text-underline-position: auto;
	text-underline-position: auto; */
	background-color: #222;
	padding: 2px;
	text-align: center;

}

#class_d_games{
	color:#e45959;
	/* font-weight: bold; */
	background-color: #222;
	padding: 2px;
	text-align: center;

}


.game-title-gold {
	color: #e6e4e4;
	background-color:#222;
	padding: 0px 4px;
	font-weight: bold;
	font-size: 1em;

}


.list-group-item.active{
	background-color: #222;
	color: gold;
	border: none;
	text-align:center;
}


h5 a {
	color: #fc1111;
}

.list-group-item:hover{
	color:#f87373;
	background-color: #222;
}

.soundtrackLink:hover{
	color:#f87373;
	background-color: #222;
}


#headerimg{
	width: 5%;
	float: none;
}

.row .col a {
	color: #f87373;
}

.gametitle {
	font-size: 20px;
	text-decoration:underline;
}

.soundtrackList {
	background-color: #CCC;
}

sup{
	font-size:12px;
	padding-bottom:20px;
	top: -1em;
}
